<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/classes_get.js"></script>

<div class="welcome">
<h1>Welcome to Rate My Classy</h1>
<div class="funLine"></div>
<p>Don't know what classes to take next semester,
<br>or want to leave an opinion about one?</p>
<p>Start by searching for any Stevens course below:</p>
</div>

<div class="row-box">
    <div class="container" id="hompage-div" hidden>
        <p>Here are all the classes Stevens has to offer!</p>
    </div>

    <div class="container">
        <form>
            <input type="text" id="searchInput" placeholder="Search for a class...">
        </form>
        <ul id="classlist"></ul>
    </div>
</div>