<script src="/js/main.js"></script>

<p>Welcome to homepage {{user_name}}. View Your profile or get class list to make a review</p>

<a href ="/profile">View Profile</a>
<a href="/classpage">Get Class List</a>
<a href="/logout">Logout</a>