<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/classes_get.js"></script>
<div class="row-box">
    <div class="container" id="hompage-div" hidden>
        <p>Here are all the classes Stevens has to offer!</p>
    </div>

    <div class="container">
        <form>
            <input type="text" id="searchInput" placeholder="Search for a class...">
        </form>
        <ul id="classlist"></ul>
    </div>
</div>