<script src="/js/main.js"></script>

<form action="/user/login" method="POST" id="signin-form" name="signin-form">
    <label for="user_name">Enter Username:</label>
    <input type="text" id="user_name" name="user_name">
    <br>
    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password">

    <button type="submit" id="submit_button" name="submit_button">Submit</button>
</form>

<a id="signuplink" href="/user/register">Click here to signup!</a>