<h1>Professors Sorted by</h1>
<ul>
  {{
#each
 professors}}
    <li>
      {{this.professor_name}} - {{this.reviewCount}} review{{
#unless
 this.reviewCount == 1}}s{{
/unless
}}
    </li>
  {{
/each
}}
</ul>