
<script>
  const userData = {{{userJson}}};
</script>
<script src="/public/js/profile.js"></script>

<h2>Hello <i>{{user_name}}</i>, find your information and reviews below:</h2>
<h3>Username: {{user_name}}</h3>
<h3>Email: {{email}}</h3>

<h2>Your Wishlist</h2>
<ul class="wishlist-container"></ul>

<h2>Your Reviews: </h2>
<ul class="user-review-container"></ul>


<a href="/user/signout">Logout</a>
<a href="/">To Homepage</a>