<script src="/public/js/registration_handler.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>Welcome</h1>
<h2>The first steps to the perfect semester begins now!</h3>
<h3>Please register with a username, password, and a stevens email!</h3>


{{#if error}}
  <div class="error-message" style="color: red; text-align: center; margin-bottom: 10px;">
    {{error}}
  </div>
{{/if}}


<div class="centerForm">
<form action="/user/register" method="POST" id="signup-form" name="signup-form" class="register" align="center">
    <label for="user_name">Enter Username:</label>
    <input type="text" id="user_name" name="user_name">
    <br>
    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="email">Enter Email:</label>
    <input type="text" id="email" name="email">
    <br>

    <button type="submit" id="submit_button">Submit</button>
</form>
</div>
<div class="already">
<a id="signinlink" href="/user/login" align="center">Already have an account? Click here to sign-in</a>
</div>