<script src="/js/registration_handler.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/css/styles.css">

<form action="/user/register" method="POST" id="signup-form" name="signup-form">
    <label for="user_name">Enter Username:</label>
    <input type="text" id="user_name" name="user_name">
    <br>
    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="email">Enter Email:</label>
    <input type="text" id="email" name="email">
    <br>

    <button type="submit" id="submit_button" name="submit_button">Submit</button>
</form>

<a id="signinlink" href="/login">Already have an account? Click here to sign-in</a>
