<h2>Admin Panel</h2>
<h3>Manage Courses</h3>
<button>Add Course</button>
<ul>{{#each courses}}<li>{{this.name}} <button>Delete</button></li>{{/each}}</ul>
<h3>Reported Reviews</h3>
<ul>{{#each reports}}<li>{{this.text}} <button>Delete</button></li>{{/each}}</ul>

{{!test}}