<h2>Write a Review</h2>
<form method="POST" action="/review" enctype="multipart/form-data">
  <select name="courseId">
    {{#each courses}}<option value="{{this._id}}">{{this.name}}</option>{{/each}}
  </select>
  <select name="professorId">
    {{#each professors}}<option value="{{this._id}}">{{this.name}}</option>{{/each}}
  </select>
  <textarea name="text" required></textarea>
  <input type="file" name="syllabus">
  <button type="submit">Submit Review</button>
</form> 