<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RateMyClassy</title>
  <link rel="stylesheet" href="/public/css/sitestyles.css">
  <script src="/public/js/form_validate.js" defer></script>
</head>

<body>

  <h1>Rate My Classy</h1>

  <p>Welcome ... </p>

  {{{body}}}

</body>

<footer>
  <p>Authors</p>
</footer>

</html>